$headerHeight: 5rem;
$headerHeightDesktop: 6rem;

.Carousel {
    width: 100%;
    height: calc(100vh - $headerHeight);
    display: flex;
    overflow: hidden;

    & img {
        min-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top center;

        &.active {
            animation-name: slide;
            animation-duration: var(--transition-time);
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
            animation-fill-mode: forwards;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 992px) {
    .Carousel {
        height: calc(100vh - $headerHeightDesktop);
    }
}
