.Nav {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.navbar-item {
    position: relative;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.navbar__dropdown {
    display: none;
    position: absolute;
    width: calc(100vw - 6px);
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    margin: 0;
    /*padding: .5rem 1rem;*/
    padding: 0;

    list-style: none;

    background-color: white;
    border: 3px solid #4472c4;

    flex-direction: column;
    /*gap: 1rem;*/
}

.navbar-item:hover > .navbar__dropdown {
    display: flex;
}

.navbar__dropdown-item {
    color: black;
    font-size: 1.2rem;
    font-weight: normal;
    padding: .75rem 1rem;
    cursor: pointer;
}

.navbar__dropdown-item:hover {
    background-color: #e5e5e5;
}

.navbar__lng {
    position: relative;
}

.navbar__lng-img {
    width: 2rem;
}

.navbar__lng__dropdown-icon {
    font-size: 2rem !important;
}

.navbar__lng__dropdown {
    display: none;
    position: absolute;
    /*width: 10rem;*/
    min-width: calc(100vw - 6px);
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    margin: 0;
    padding: 0;

    list-style: none;

    background-color: white;
    border: 3px solid #4472c4;

    flex-direction: column;
    /*gap: 1rem;*/
}

.navbar__lng:hover > .navbar__lng__dropdown {
    display: flex;
}

.navbar__lng__dropdown-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .75rem 1rem;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.navbar__lng__dropdown-item:hover {
    background-color: #e5e5e5;
}

.navbar__lng__dropdown-item-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar__lng__dropdown-item-img > img {
    width: 1.75rem;
}

@media screen and (min-width: 768px) {
    .Nav {
        flex: 1;
        justify-content: flex-end;
        flex-direction: row;
    }

    .navbar {
        flex-direction: row;
        gap: 3rem;

    }

    .navbar__dropdown {
        width: 12rem;
    }

    .navbar__lng__dropdown {
        min-width: 12rem;
        left: 100%;
        transform: translateX(-100%);
    }
}
